.container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sub-container {
    display: flex;
    justify-content: center;
}

button {
    border-radius: 25px;
    padding: 8px 12px;
    margin: 4px;
}